asgiref==3.11.0
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
gunicorn==23.0.0
packaging==25.0
pillow==12.1.0
sqlparse==0.5.5
tzdata==2025.3
python-dotenv==1.0.0
whitenoise==6.4.0
django-environ==0.4.15
django-filter==21.1
django-rest-auth==0.9.5
